html {
    scroll-behavior: smooth
}

* {margin:0; padding: 0; text-decoration:none;}


body {
overflow-x:hidden;
opacity: 0;
animation: hidey .5s forwards; 
animation-delay: .s;
}

@keyframes hidey {
0%   {   } 
100%   { opacity:1;  }
}


body::-webkit-scrollbar {
isplay:none;
position:absolute;
width: 10px;
background-color: #f2f2f2;
}
 
body::-webkit-scrollbar-track {
width: 3px;
}
 
body::-webkit-scrollbar-thumb {
background-color: #ccc;
width: 5px;
}



#blog {
position:relative;
padding: 60vh 0 1vh 4vw;
order: 1px solid red;
text-align:left;
word-wrap: break-word; 
overflow: hidden; 
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
letter-spacing: .01em;
text-transform: none;
line-height: 1.6em;    
}

#blog h1 {
font-family: 'Merriweather';
font-size: 70px;
font-style: normal;
font-weight:400;
margin-bottom: 30px;
}

#blog h2 {
font-family: 'Sanchez';
font-size: 36px;
font-style: normal;
font-weight:300;
margin-top: 10vh;
line-height:1.6em;
margin-bottom: 5vh;
animation: xtoup .8s forwards;
animation-delay: ;
opacity:1;
}

@keyframes toup {
0%    {   }
62%   { opacity:0;   } 
99%   { opacity:1; padding-top: 0vh;  } 
100%  { opacity:1; padding-top: 0vh;  }
}

#blog p {	
font-size: 24px;
line-height:1.6em;
font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
text-decoration: none;
color:#000;
margin-top:0vh;
text-align:left;
clear:both;
order: 1px solid red;
}

#blog a  {
font-family: 'Source Serif Pro';
font-size: 24px;
font-style: normal;
font-weight:400;
color:black;
}

#blog a:hover  {
text-decoration:underline;
}



#thg {
position:relative;
padding: 0vh 0 25vh 4vw;
order: 1px solid green;
text-align:left;
word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
overflow: hidden; /* fix for long non-text content breaking IE sidebar float */
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
letter-spacing: .01em;
text-transform: none;
line-height: 1.6em;    
}

#thg h3 {
font-family: 'Source Serif Pro';
font-size: 36px;
font-style: normal;
font-weight:600;
margin-bottom: 5vh;
margin-top: 5vh;
}

ul.menu { list-style-type: none; }

.menu li  {
text-align:left;
line-height:1.6em;
margin-bottom:5px;
clear:both;
}
  
.menu a, a  {
display: inline;
font-size: 24px;
line-height:1.6em;
font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
text-decoration: none;
color:#000;
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}

.menu a:hover, a:hover {color:#e60000;}

.menu h1  {
display: none;
font-family: 'Sanchez';
font-size: 11px;
font-style: normal;
font-weight:400;
color:#444;
margin-left:1vw;
}




@media only screen and (max-width: 768px) {
  


#blog3 {
	width:100vw;
	position:relative;
padding-top: 30vh;
margin-left: 0vw;
}

#blog3 h1 {
	font-size:46px;
text-align:center;
line-height:1.2em;
margin-bottom: 15px;
}

#blog3 h2 {
text-align:center;
}

#blog3 p {
	font-family: "Barlow";
font-size: 14px;
margin: 0 auto;
width:80vw;
margin-top:30vh;
}


}



